body{
	background-image: url("https://raw.githubusercontent.com/Sagun-Dev/img/main/Login.webp");
	background-size: auto;
	background-repeat: no-repeat;
}
#out{
	background-color: rgba(0,0,0,0.2);
	backdrop-filter: blur(2px);
	backdrop-filter: brightness(80%);
	margin-left: 25vw;
	margin-top: 12vh;
	width: 40vw;
	/*margin-right: 35vw;*/
	padding-left: 2vw;
	padding-right: 2vw;
	box-shadow: 5px 5px 10px;
	border-radius: 2vw;
	padding-bottom: 2vw; 
	padding-top: 2vw;
	margin-bottom: 5vw;
}
#contribution,#trust,#email,#gender,#dob,#name,#totalup,#totaldown,#total{
	font-size: 1.5vw;
	color: white;
}
#image{
	width: 40%;
	padding-left: 11vw;
}