body{
	background-image: url("../images/login.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}
#out{
	background-color: rgba(0,0,0,0.2);
	backdrop-filter: blur(6px);
	backdrop-filter: brightness(80%);
	margin-left: 35%;
	margin-top: 10%;
	margin-right: 35%;
	padding-left: 2%;
	padding-right: 2%;
	box-shadow: 5px 5px 10px;
	border-radius: 2em;
	padding-bottom: 2%; 
	padding-top: 1%;
	padding-left: 6.5%;
}
#name{
	font-size: 1.2em;
	color: white;
}
#dob{
	font-size: 1.2em;
	color: white;
}
#gender{
	font-size: 1.2em;
	color: white;
}
#email{
	font-size: 1.2em;
	color: white;
}
#contribution{
	font-size: 1.2em;
	color: white;
}
#image{
	width: 40%;
	padding-left: 16%;
}