body{
	background-image: url("../images/login.jpg");
	margin-top: 0vw;
}
#nav{	
	background-color: black;
	padding-left: 6vw;
	/*height: 4.5em;*/
	border-bottom-right-radius: 10vw;
	border-bottom-left-radius: 10vw;
	box-shadow: 0.8vw 0.8vw grey;
}
#grid{
	display: grid;
	grid-column-gap: 2%;
	grid-template-columns: 25% 40% 6% 6% 6%;
	justify-content: left;
	align-items: center;
	width: 100%;
	margin-bottom: 2vw;
}


#news{
	display: inline-block;
	color: white;
	grid-column: 1;
	text-decoration: none;
	/*padding-left: 6%;*/
	font-size: 4vw;
}
.upload{
	grid-column: 3;
	color: white;
	font-size: 1.5vw;
	text-decoration: none;
}
.upload:hover {
	color: orange;
}
.login:hover {
	color: orange;
}
.signup:hover {
	color: orange;
}
.profile:hover {
	color: orange;
}
.logout:hover {
	color: orange;
}
.login{
	grid-column: 5;
	color: white;
	font-size: 1.5vw;
	text-decoration: none;
}
.logout{
	grid-column: 2;
	color: white;
	margin: auto;
	font-size: 1.5vw;
	text-decoration: none;
}
.profile{
	grid-column: 2;
	color: white;
	font-size: 1.5vw;
	text-decoration: none;
}
.signup{
	grid-column: 4;
	grid-row: 1;
	color: white;
	font-size: 1.5vw;
	text-decoration: none;
}
.title{
	grid-column: 2;
	font-size: 1.5vw;
	margin-bottom: 0px;
	color:#551a8b;
	text-decoration: none;
}
.author{
	color:#551a8b;
	text-decoration: none;
	padding-left: 5%;
}
.des{
	margin-bottom: 2vw;
	padding-left: 4%;
}
.card:hover{
	color: white;
	background-color: grey;
	box-shadow: 0.2vw 0.2vw 1vw black;
}
.card{
	margin-top: 1vh;
	margin-bottom: 2vh;
	padding-top: .1vh;
	padding-bottom: .1vh;
	background-color: #c7c7c7;
	border-radius: 4vw;
	box-shadow: 0.2vw 0.2vw 1.0vw;
}
#search{
	grid-column: 2;
	display: grid;
	grid-template-columns: auto auto auto auto;
	/*width: 100%;*/
}
#search_field{
	grid-column: 1;
	background-color: rgba(0,0,0,0.4);
	backdrop-filter: blur(0.2vw);
	backdrop-filter: brightness(80%);
	color: white;
	padding-left: 1vw;
	border-radius: 3.5vw;
	width: 30vw;
	height: 3vw;
}
#search_btn {
	grid-column: 4;
    background-image: url("../images/search.ico");
    margin-top: 15%;
    color: transparent;
    width:3.5vw;
    height: 2.5vw;
    margin-left: 1vw;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border-style: hidden;
    border-radius: 1.3vw;
}
::placeholder{
color:white;
}