html{
	font-size: 62.5%;
}
body{
	background-image: url("https://raw.githubusercontent.com/Sagun-Dev/img/main/Login.webp");
	margin-top: 0rem;
	margin-bottom: 0rem;
	height: 92vh;
}
.holder{
	display: grid;
	grid-template-columns: 33% 33% 33%;
}
#nav{
	display: flex;
	margin-bottom: 1rem;
	justify-content: space-around;
	align-items: center;
	background-color: #111;
	padding-left: 6rem;
	/*height: 4.5em;*/
	border-bottom-right-radius: 10rem;
	border-bottom-left-radius: 10rem;
	box-shadow: 0.8rem 0.8rem grey;
}
.nav-links{
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 70%;
	font-weight: bold;
}
.burger{
	display: none;
}
.burger div{
	width: 2.5rem;
	height: 0.3rem;
	background-color: white;
	margin: 0.5rem;
}
#container{
	display: inline-block;
	margin-left: 50%;
}
#next,#prev{
	display: inline-block;
	height: 5rem;
	border-radius: 3rem;
	width: auto;
	background-color: rgba(0, 0, 0, 0);
	font-size: 2rem;
	backdrop-filter: blur(2px);
	color: white;
}
.vote{
	margin-left: 2rem;
	margin-top: 0.1rem;
	display: inline-block;
}
footer{
	bottom: 0px;
	background-color: rgba(90, 90, 90, 0.6);
	border-radius: 1rem;
	padding: 1rem 2rem;
}
.footer{
	display: flex;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
    color: white;
	font-size: 1.6rem;
	height: auto;
}
#news{
	display: inline-block;
	color: white;

	text-decoration: none;
	/*padding-left: 6%;*/
	font-size: 4rem;
}
#news a{
	text-decoration: none;
	color: white;
}
.upload{

	color: white;
	font-size: 1.5rem;
	text-decoration: none;
}
.upload:hover {
	color: orange;
}
.login:hover {
	color: orange;
}
.signup:hover {
	color: orange;
}
.profile:hover {
	color: orange;
}
.logout:hover {
	color: orange;
}
.login{

	color: white;
	font-size: 1.5rem;
	text-decoration: none;
}
.logout{

	color: white;
	margin: auto;
	font-size: 1.5rem;
	text-decoration: none;
}
.profile{

	grid-row: 1;
	color: white;
	font-size: 1.5rem;
	text-decoration: none;
}
.signup{

	grid-row: 1;
	color: white;
	font-size: 1.5rem;
	text-decoration: none;
}
.title{

	font-size: 1.5rem;
	margin-bottom: 0px;
	color:#551a8b;
	text-decoration: none;
}
.author{
	color:#551a8b;
	text-decoration: none;
	padding-left: 5%;
}
.des{
	margin-bottom: 2rem;
	padding-left: 4%;
}
.card:hover{
	background-color: rgba(255,255,255,0.8);
}
.card{
	margin-left: 1rem;
	margin-right: 1rem;
	margin-top: 1rem;
	margin-bottom: 2rem;
	padding-top: .1rem;
	padding-bottom: .1rem;
	padding-left: 1rem;
	background-color: #bdbcf3;
	border-radius: 4rem;
	box-shadow: 0.2rem 0.2rem 1.0rem;
}
#search_field{
	background-color: rgba(0,0,0,0.4);
	backdrop-filter: blur(0.2rem);
	backdrop-filter: brightness(80%);
	font-size: 1.5rem;
	color: white;
	padding-left: 1rem;
	border-radius: 3.5rem;
	height: 3rem;
	width: 30rem;
}
#search_btn {
    background-image: url("https://raw.githubusercontent.com/Sagun-Dev/img/main/search.ico");
    color: transparent;
    width:3.5rem;
    height: 3.3rem;
    margin-left: 1rem;
    background-size: contain;
    background-repeat: repeat;
    background-position: center;
    border-style: hidden;
    border-radius: 1.3rem;
}
::placeholder{
color:white;
}

/*@media(max-width: 1060px){
	html{
		font-size: 55%;
	}
}

@media(max-width: 969px){
	html{
		font-size: 50%;
	}
}*/
@media(max-width: 768px){
	html{
		font-size: 45%;
	}
	.nav-links{
		position: absolute;
		right: 0px;
		height: 92vh;
		top:  8vh;
		width: 50%;
		display: flex;
		flex-direction: column;
		background-color: #111;
		border-radius: 3rem;
		align-items: center;
		transform: translateX(100%);
		transition: transform 0.5s ease-in;
		display: none;
	}
	.nav-links li{
		margin-top: 5rem;
	}
	.burger{
		display: block;
		cursor: pointer;
	}
	#search_field{
		width: auto;
	}
}
.nav-active{
	transform: translateX(0%);
	display: block;
}

