html{
	font-size: 62.5%;
}
body{
	background-image: url("../images/login.jpg");
	margin-top: 0rem;
}
#nav{	
	background-color: black;
	padding-left: 6rem;
	/*height: 4.5em;*/
	border-bottom-right-radius: 10rem;
	border-bottom-left-radius: 10rem;
	box-shadow: 0.8rem 0.8rem grey;
}
#grid{
	display: grid;
	grid-column-gap: 2%;
	grid-template-columns:  20% 40% 10% 10% 10%;
	justify-content: left;
	align-items: center;
	width: 100%;
	margin-bottom: 2rem;
}
#news{
	display: inline-block;
	color: white;
	grid-column: 1;
	text-decoration: none;
	/*padding-left: 6%;*/
	font-size: 4rem;
}
.upload{
	grid-column: 3;
	color: white;
	font-size: 1.5rem;
	text-decoration: none;
}
.upload:hover {
	color: orange;
}
.login:hover {
	color: orange;
}
.signup:hover {
	color: orange;
}
.profile:hover {
	color: orange;
}
.logout:hover {
	color: orange;
}
.login{
	grid-column: 5;
	color: white;
	font-size: 1.5rem;
	text-decoration: none;
}
.logout{
	grid-column: 5;
	color: white;
	margin: auto;
	font-size: 1.5rem;
	text-decoration: none;
}
.profile{
	grid-column: 4;
	grid-row: 1;
	color: white;
	font-size: 1.5rem;
	text-decoration: none;
}
.signup{
	grid-column: 4;
	grid-row: 1;
	color: white;
	font-size: 1.5rem;
	text-decoration: none;
}
.title{
	grid-column: 2;
	font-size: 1.5rem;
	margin-bottom: 0px;
	color:#551a8b;
	text-decoration: none;
}
.author{
	color:#551a8b;
	text-decoration: none;
	padding-left: 5%;
}
.des{
	margin-bottom: 2rem;
	padding-left: 4%;
}
.card:hover{
	background-color: rgba(255,255,255,0.8);
}
.card{
	margin-top: 1rem;
	margin-bottom: 2rem;
	padding-top: .1rem;
	padding-bottom: .1rem;
	padding-left: 1rem;
	background-color: #bdbcf3;
	border-radius: 4rem;
	box-shadow: 0.2rem 0.2rem 1.0rem;
}
#search{
	grid-column: 2;
	display: grid;
	grid-template-columns: 75% 5%;
	width: 100%;
}
#search_field{
	grid-column: 1;
	background-color: rgba(0,0,0,0.4);
	backdrop-filter: blur(0.2rem);
	backdrop-filter: brightness(80%);
	font-size: 1.5rem;
	color: white;
	padding-left: 1rem;
	border-radius: 3.5rem;
	width: auto;
	height: 3rem;
}
#search_btn {
	grid-column: 2;
    background-image: url("../images/search.png");
    
    color: transparent;
    width:3.5rem;
    height: 3.3rem;
    margin-left: 1rem;
    background-size: contain;
    background-repeat: repeat;
    background-position: center;
    border-style: hidden;
    border-radius: 1.3rem;
}
::placeholder{
color:white;
}

@media(max-width: 1060px){
	html{
		font-size: 55%;
	}
}

@media(max-width: 969px){
	html{
		font-size: 50%;
	}
}
@media(max-width: 768px){
	html{
		font-size: 45%;
	}
}


